#Title_centered {
    text-align: center;
}

.background {
  background-image: url('../media/gif/Sequence\ 04.gif');
  height: 100%;
  background-blend-mode: color-dodge;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 }